*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: $cream;
}

body {
  font-family: $font-family--primary;
  font-size: 1.5rem;
  font-weight: $w-regular;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h2 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 3.0rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h3 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h4 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h5 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h6 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.container--large {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &--about {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

img {
  // width: 100%;
}

img.emoji {
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
}


p {
  margin: 0;
  margin-bottom: 2.4rem;
  color: $black;
}

a {
  text-decoration: none;
}

input {

  &:focus {
    outline: none;
  }
}

input[type=search]::placeholder {
  color: $white;
}

.form-search {
  display: inline-block;
}

.search {
  padding: 2.4rem;
  display: inline-block;
  cursor: pointer;
  background: $blue;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: $w-semi;
  min-width: 232px;

  &:hover {

  }

  &:focus {
    outline: none;
  }
}

.button {
  padding: 2rem 2.4rem;
  display: inline-block;
  cursor: pointer;

  &--primary {
    background: $blue;
    color: $white;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: $w-semi;

    &:hover {

    }
  }

  &--secondary {
    color: $black;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: $w-semi;
    opacity: 0.60;
    transition: opacity 0.16s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
